.app {
  font-family: Arial;
  line-height: 1.3em;
  padding: 30px 60px;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  border-bottom: 5px solid #cad5e6;
}

.button {
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  background-color: #5781C2;
  color: white;
  box-shadow: 2px 2px 5px #16314d98;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 4px 4px 8px #16314d63;
  background-color: #40558f;
}
